<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to The Tech Blog</h1>
        <p>A tech blog is an online platform where individuals or groups share information, insights, and updates related to technology.
            Topics often include software development, new gadgets, cybersecurity, programming languages, tech industry trends, and tutorials.
            Tech blogs can serve as a resource for professionals looking to stay current in their field, hobbyists seeking to learn more about specific topics,
            and anyone interested in the latest technological advancements. Effective tech blogs often combine clear, engaging writing with in-depth technical knowledge,
            often supplemented by code snippets, diagrams, and practical examples..</p>
        <button class="login-button" onclick="window.location.href='/login'">Login</button>
    </div>
</body>
</html>
