{% extends 'layout.html' %}

{% block content %}
<h2>All Posts</h2>
<a href="{{ url_for('new_post') }}" class="btn">Create New Post</a>
<ul>
    {% for post in posts %}
    <li>
        <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
        <p>{{ post.content[:100] }}...</p>
        {% if post.author %}
        <p><small>Posted by {{ post.author.username }}</small></p>
        {% endif %}
        <p><small> on {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
    </li>
    {% endfor %}
</ul>
<button class="logout-button" onclick="window.location.href='/logout'">Logout</button>
{% endblock %}
